
<footer>
  <div class="footer__header">
    <div class="footer__header__box">
      <div class="footer__header__box__phone">
        <div class="footer__header-icon"><img src="images/Iconos/phone.svg" alt="icono de teléfono fijo"/></div>
        <div class="footer__header__phone-num"> 
          <p>442 219-76-51 <br/>444 257-52-88</p>
        </div>
      </div>
      <div class="footer__header__box__cellphone">
        <div class="footer__header-icon"> <img src="images/Iconos/smartphone.svg" alt="ícono de un celular"/></div>
        <div class="footer__header__cellphone-num"> 
          <p>442 3867559</p>
        </div>
      </div>
      <div class="footer__header__box__email"> 
        <div class="footer__header-icon"><img src="images/Iconos/email.svg" alt="ícono de un email"/></div>
        <div class="footer__header__email-txt"> 
          <p>contacto@sitgam.mx</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__box">
    <div class="footer__box__body">
      <div class="footer__box__body-logo"><img src="images/logoBlanco.svg" alt="logotipo de SITGAM"/></div>
      <div class="footer__box__body-links">
        <h2>Enlaces Directos</h2>
        <ul> 
          <li><a href="/">Inicio</a></li>
          <li><a href="iempresa.html">Empresa </a></li>
          <li><a href="imaquinaria.html">Movimiento de maquinaria </a></li>
          <li><a href="ielectricas.html">Instalaciones Eléctricas </a></li>
          <li><a href="ihidraulicas.html">Instalaciones Hidráulicas  </a></li>
          <li><a href="ipaileria.html">Pailería </a></li>
          <li><a href="ipintura.html">Pisos Epóxicos </a></li>
          <li><a href="icontacto.html">Contacto </a></li>
          <li><a href="iprivacidad.html">Aviso de Privacidad</a></li>
        </ul>
      </div>
      <div class="footer__box__body-address"> <img src="images/Iconos/address.svg" alt="ícono de ubicación"/>
        <p>Ramiro de Maeztu 64, Colonia Los Molinos, Querétaro, Qro. MX </p>
      </div>
      <div class="footer__box__body-schedule">
        <h2>HORARIOS DE ATENCIÓN</h2>
        <div class="footer__box__body-schedule-hours">
          <p>Lunes a Viernes: </p>
          <p>9:00am - 6:00 pm</p>
          <p>Sábado: </p>
          <p>9:00am - 2:00 pm</p>
          <p>Domingo: </p>
          <p>Cerrado</p>
        </div>
      </div>
      <div class="footer__box__body-socialmedia">
        <div class="footer__box__body-socialmedia__icon">
          <h2>SÍGUENOS</h2><a href="https://facebook.com"> <img src="images/Iconos/facebook.svg" alt="Ícono de facebook"/></a>
        </div>
      </div>
    </div>
    <div class="footer__foot"> 
      <div class="rights">
        <p>SITGAM CORPORATION 2022</p>
      </div>
    </div>
  </div>
</footer>
<script src="js/app-dist.js"></script>