header
    .menu-top 
        p Bienvenido a SITGAM Corp.
        a(href="/html/privacidad.html").menu-top__link Aviso de Privacidad
    nav.menu 
        section.menu__container 
            img(src="/images/logoAzul.svg").menu__logo
            ul.menu__links 
                li.menu__item 
                    a(href="/").menu__link Inicio
                li.menu__item 
                    a(href="/html/empresa.html").menu__link Empresa
                li.menu__item.menu__item-show
                    a(href="#").menu__link Servicios
                        img(src="/images/Iconos/chevron-down.svg").menu__arrow
                    ul.menu__nesting
                        li.menu__inside
                            a(href="/html/maquinaria.html").menu__link.menu__link-inside Movimiento de Maquinaria
                        li.menu__inside
                            a(href="/html/electricas.html").menu__link.menu__link-inside Instalaciones Eléctricas
                        li.menu__inside
                            a(href="/html/hidraulicas.html").menu__link.menu__link-inside Instalaciones Hidráulicas y Neumáticas
                        li.menu__inside
                            a(href="/html/paileria.html").menu__link.menu__link-inside Pailería
                        li.menu__inside
                            a(href="/html/pintura.html").menu__link.menu__link-inside Pintura
                li.menu__item 
                    a(href="/html/contacto.html").menu__link Contacto
            .menu__hamburger 
                img(src="/images/Iconos/menu.svg" alt="icono de menu").menu__img  
    





