
<header>
  <div class="menu-top"> 
    <p>Bienvenido a SITGAM Corp.</p><a class="menu-top__link" href="privacidad.html">Aviso de Privacidad</a>
  </div>
  <nav class="menu"> 
    <section class="menu__container"> <img class="menu__logo" src="images/logoAzul.svg"/>
      <ul class="menu__links"> 
        <li class="menu__item"> <a class="menu__link" href="index.html">Inicio</a></li>
        <li class="menu__item"> <a class="menu__link" href="empresa.html">Empresa</a></li>
        <li class="menu__item menu__item-show"><a class="menu__link" href="#">Servicios<img class="menu__arrow" src="images/Iconos/chevron-down.svg"/></a>
          <ul class="menu__nesting">
            <li class="menu__inside"><a class="menu__link menu__link-inside" href="maquinaria.html">Movimiento de Maquinaria</a></li>
            <li class="menu__inside"><a class="menu__link menu__link-inside" href="electricas.html">Instalaciones Eléctricas</a></li>
            <li class="menu__inside"><a class="menu__link menu__link-inside" href="hidraulicas.html">Instalaciones Hidráulicas y Neumáticas</a></li>
            <li class="menu__inside"><a class="menu__link menu__link-inside" href="paileria.html">Pailería</a></li>
            <li class="menu__inside"><a class="menu__link menu__link-inside" href="pintura.html">Pintura</a></li>
          </ul>
        </li>
        <li class="menu__item"> <a class="menu__link" href="contacto.html">Contacto</a></li>
      </ul>
      <div class="menu__hamburger"> <img class="menu__img" src="images/Iconos/menu.svg" alt="icono de menu"/></div>
    </section>
  </nav>
</header>