extend ../components/template.pug
block content
    .content
        section(data-bs-ride="carousel").content__slides.carousel.slide.carousel-fade#carouselExampleFade
            .carousel-inner
                .carousel-item.active
                    picture.carousel-item__img
                        source(media="(min-width:1110px)" srcset="images/slidePallets-1920x466.jpg")
                        source(media="(min-width:768px)" srcset="images/slidePallets-1028x466.jpg")
                        img(src="images/slidePallets-528x593.jpg" alt="Imgagen de pallets").d-block.w-100
                    .slideContent
                        .slideContent__box#slide1Content
                            p MANIOBRAMOS  CON #[br] #[strong PRECISIÓN]  #[br] Air palets #[br]
                .carousel-item
                    picture.carousel-item__img
                        source(media="(min-width:1110px)" srcset="images/shead1.jpg")
                        source(media="(min-width:768px)" srcset="images/ti-1.jpg")
                        img(src="images/mi-1.jpg" alt="Imgagen de un montacargas").d-block.w-100
                    .slideContent
                        .slideContent__box#slide1Content
                            p Somos  #[br] #[strong EXPERTOS]  #[br] en servicios  #[br] industriales.            
                .carousel-item
                    picture.carousel-item__img
                        source(media="(min-width:1110px)" srcset="images/dhead-empresa.jpg")
                        source(media="(min-width:768px)" srcset="images/thead-empresa.jpg")
                        img(src="images/slide-mobile-empresa.jpg" alt="Imagen de un montacargas").d-block.w-100
                    .slideContent
                        .slideContent__box.slideContent__box__sections
                            p.slideContent__box__sections-line1 NUESTRA  #[br] #[strong EMPRESA] #[br]
                                a.slide_link(href="empresa.html") Conócenos #[span #[img(src="images/Iconos/arrow__rightcorange.svg")]]
                .carousel-item
                    picture.carousel-item__img
                        source(media="(min-width:1110px)" srcset="images/dhead-maquinaria.jpg")
                        source(media="(min-width:768px)" srcset="images/thead-maquinaria.jpg")
                        img(src="images/slide-mobile-maquinaria.jpg" alt="Imgagen de un montacargas").d-block.w-100
                    .slideContent
                       .slideContent__box.slideContent__box__sections
                            p.slideContent__box__sections-line1 MOVIMIENTO DE  #[br] #[strong MAQUINARIA] #[br]
                                a.slide_link(href="maquinaria.html") Más Información#[span #[img(src="images/Iconos/arrow__rightcorange.svg")]]
                .carousel-item
                    picture.carousel-item__img
                        source(media="(min-width:1110px)" srcset="images/dheadelectricas.jpg")
                        source(media="(min-width:768px)" srcset="images/thead-electricas.jpg")
                        img(src="images/slide-mobile-aelectricas.jpg" alt="Imgagen de un montacargas").d-block.w-100
                    .slideContent
                        .slideContent__box.slideContent__box__sections
                            p.slideContent__box__sections-line1 INSTALACIONES  #[br] #[strong ELÉCTRICAS] #[br]
                                a.slide_link(href="electricas.html") Más Información#[span #[img(src="images/Iconos/arrow__rightcorange.svg")]]
                .carousel-item
                    picture.carousel-item__img
                        source(media="(min-width:1110px)" srcset="images/dhidraulicas.jpg")
                        source(media="(min-width:768px)" srcset="images/thead-hidraulicas.jpg")
                        img(src="images/slide-mobile-ahidraulicas.jpg" alt="Imgagen de un montacargas").d-block.w-100
                    .slideContent
                         .slideContent__box.slideContent__box__sections
                            p.slideContent__box__sections-line1 INSTALACIONES #[br] #[strong HIDRÁULICAS Y NEUMÁTICAS] #[br]
                                a.slide_link(href="hidraulicas.html") Más Información#[span #[img(src="images/Iconos/arrow__rightcorange.svg")]]
                .carousel-item
                    picture.carousel-item__img
                        source(media="(min-width:1110px)" srcset="images/dhead-paileria.jpg")
                        source(media="(min-width:768px)" srcset="images/thead-paileria.jpg")
                        img(src="images/slide-mobile-paileria.jpg" alt="Imgagen de un montacargas").d-block.w-100
                    .slideContent
                        .slideContent__box.slideContent__box__sections
                            p.slideContent__box__sections-line1 SERVICIOS DE  #[br] #[strong PAILERÍA] #[br]
                                a.slide_link(href="paileria.html") Más Información#[span #[img(src="images/Iconos/arrow__rightcorange.svg")]]
                .carousel-item
                    picture.carousel-item__img
                        source(media="(min-width:1110px)" srcset="images/dhead-pintura.jpg")
                        source(media="(min-width:768px)" srcset="images/thead-pintura.jpg")
                        img(src="images/slide-mobile-pintura.jpg" alt="Imgagen de un montacargas").d-block.w-100
                    .slideContent
                         .slideContent__box.slideContent__box__sections
                            p.slideContent__box__sections-line1 SERVICIOS DE  #[br] #[strong PINTURA] #[br]
                                a.slide_link(href="pintura.html") Más Información#[span #[img(src="images/Iconos/arrow__rightcorange.svg")]]

            button(type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev").carousel-control-prev.hidden
                span(aria-hidden="true").carousel-control-prev-icon.hidden
                span.visually-hidden.hidden Previous
            button(type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next").carousel-control-next.hidden
                span(aria-hidden="true").carousel-control-next-icon.hidden
                span.visually-hidden.hidden Next
        section.contentSection
            .contentSection__triangle-left.top__triangle1
                p #[strong 30] años #[br]de experiencia
            .contentSectionTablet#contentSectionTablet__exp
                h2  #[strong 30]
                p años #[br] #[strong de experiencia]
            .contentSection__article
                picture.contentSection__article__img 
                    source(media="(min-width:768px)" srcset="images/ti-2.jpg")
                    img(src="images/mi-2.jpg" alt="Imgagen de un montacargas").img-fluid
                .contentSection__article__txt
                    p NUESTROS SERVICIOS
                    h2 Movimiento de maquinaria 
                    a(href="maquinaria.html") Más información
                .contentSection__triangle-right.top__triangle
                    p Soluciones #[br] #[strong PROFESIONALES]
                .contentSectionTablet#contentSectionTablet__sol
                    p Soluciones #[strong PROFESIONALES]
            .contentSection__article  
                picture.contentSection__article__img 
                    source(media="(min-width:768px)" srcset="images/ti-3.jpg")
                    img(src="images/mi-3.jpg" alt="Imagen de un soldador")
                .contentSection__article__txt
                    p CONOCE #[br]NUESTROS SERVICIOS
                    h2 Pailería
                    a(href="paileria.html") Más información
                .contentSection__triangle-left.top__triangle
                    p Soluciones #[br] #[strong EFICACES]
                .contentSectionTablet#contentSectionTablet__ef
                    p Soluciones #[br] #[strong EFICACES]
            .contentSection__article  
                picture.contentSection__article__img 
                    source(media="(min-width:768px)" srcset="images/ti-4.jpg")
                    img(src="images/mi-4.jpg" alt="Imagen de un soldador")
                .contentSection__article__txt
                    p SOMOS #[br]ESPECIALISTAS
                    h2 Instalaciones #[strong Eléctricas]
                    a(href="electricas.html") Más información
                .contentSection__triangle-right.top__triangle
                    p SOMOS #[br] #[strong EXPERTOS]
                .contentSectionTablet#contentSectionTablet__expert
                    p SOMOS #[br] #[strong EXPERTOS]
                    a(href="contacto.html") CONTÁCTENOS 
            .contentSection__article  
                picture.contentSection__article__img 
                    source(media="(min-width:768px)" srcset="images/ti-5.jpg")
                    img(src="images/mi-5.jpg" alt="Imagen de un soldador")
                .contentSection__article__txt
                    p NUESTROS SERVICIOS
                    h2 Instalaciones #[strong Hidráulicas y Neumáticas]
                    a(href="hidraulicas.html") Más información
                .contentSection__triangle-left.top__triangle
                    p CUIDAMOS TUS #[br] #[strong INSTALACIONES]
                .contentSectionTablet#contentSectionTablet__inst
                    p CUIDAMOS TUS #[br] #[strong INSTALACIONES]
            .contentSection__article  
                picture.contentSection__article__img 
                    source(media="(min-width:768px)" srcset="images/ti-6.jpg")
                    img(src="images/mi-6.jpg" alt="Imagen de un soldador")
                .contentSection__article__txt
                    p PROTECCIÓN TOTAL
                    h2 PINTURA INDUSTRIAL
                    a(href="pintura.html") Más información     

                       
                    