extend ../components/template.pug
block content
    .maquinaria
        .section__header
            .section__header-content
                picture
                    source(media="(min-width:1400px)" srcset="images/dhead-maquinaria.jpg")
                    source(media="(min-width:768px)" srcset="images/thead-maquinaria.jpg")
                    img(src="images/mhead-maquinaria.jpg", alt="Ingeniero con casco")
                p MOVIMIENTO DE #[br] #[strong MAQUINARIA]
        .maquinaria__content
            .maquinaria__content__traslados
                .maquinaria__content__traslados-txt
                    p#maquinaria-parrafo1 Nos encargamos de #[strong toda la lógistica.]
                    p#maquinaria-parrafo2 #[strong Descarga y carga] de maquinaria y de todo el equipo.
                .maquinaria__content__traslados-map
                    img(src="images/mapa.png", alt="mapa de la Republica Mexicana").img-fluid
                    //- p #[strong LOS#[br] MÁS FUERTES] #[br] DE TODO EL BAJÍO
            .maquinaria__content-embalaje
                picture 
                    source(media="(min-width:768px)" srcset="images/tmaquinaria1.jpg")
                    img(src="images/mmaquinaria2.jpg", alt="").img-fluid
                .maquinaria__content-embalaje-txt
                    p#maquinaria-parrafo3 SERVICIOS DE #[br] #[strong EMBALAJE]
                    p#maquinaria-parrafo4 EQUIPOS Y MAQUINARIA 
                .maquinaria__content-embalaje-seguro 
                    img(src="images/Iconos/arrow__down-corange.svg", alt="Ícono de flecha")
                    p Para un transporte #[strong correcto y seguro]
            .maquinaria__content-carousel
                .carousel.slide(data-bs-ride="true")#carouselExampleIndicators
                    .carousel-indicators 
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1").active
                            img(src="/images/Servicios/servicios-1280x780-25.jpg").d-block.w-100
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2")
                            img(src="/images/Servicios/servicios-1280x780-26.jpg").d-block.w-100
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3")
                            img(src="/images/Servicios/servicios-1280x780-27.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4")
                            img(src="/images/Servicios/servicios-1280x780-28.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5")
                            img(src="/images/Servicios/servicios-1280x780-29.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6")
                            img(src="/images/Servicios/servicios-1280x780-1.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7")
                            img(src="/images/Servicios/servicios-1280x780-2.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8")
                            img(src="/images/Servicios/servicios-1280x780-3.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9")
                            img(src="/images/Servicios/servicios-1280x780-4.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10")
                            img(src="/images/Servicios/servicios-1280x780-5.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11")
                            img(src="/images/Servicios/servicios-1280x780-6.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12")
                            img(src="/images/Servicios/servicios-1280x780-7.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13")
                            img(src="/images/Servicios/servicios-1280x780-8.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14")
                            img(src="/images/Servicios/servicios-1280x780-9.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15")
                            img(src="/images/Servicios/servicios-1280x780-10.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16")
                            img(src="/images/Servicios/servicios-1280x780-11.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16" aria-label="Slide 17")
                            img(src="/images/Servicios/servicios-1280x780-12.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17" aria-label="Slide 18")
                            img(src="/images/Servicios/servicios-1280x780-13.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18" aria-label="Slide 19")
                            img(src="/images/Servicios/servicios-1280x780-14.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="19" aria-label="Slide 20")
                            img(src="/images/Servicios/servicios-1280x780-15.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="20" aria-label="Slide 21")
                            img(src="/images/Servicios/servicios-1280x780-16.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="21" aria-label="Slide 22")
                            img(src="/images/Servicios/servicios-1280x780-17.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="22" aria-label="Slide 23")
                            img(src="/images/Servicios/servicios-1280x780-18.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="23" aria-label="Slide 24")
                            img(src="/images/Servicios/servicios-1280x780-19.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="24" aria-label="Slide 25")
                            img(src="/images/Servicios/servicios-1280x780-20.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="25" aria-label="Slide 26")
                            img(src="/images/Servicios/servicios-1280x780-21.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="26" aria-label="Slide 27")
                            img(src="/images/Servicios/servicios-1280x780-22.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="27" aria-label="Slide 28")
                            img(src="/images/Servicios/servicios-1280x780-23.jpg").d-block.w-100.img-fluid
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="28" aria-label="Slide 29")
                            img(src="/images/Servicios/servicios-1280x780-24.jpg").d-block.w-100.img-fluid
                    .carousel-inner 
                        .carousel-item.active
                            img(src="/images/Servicios/servicios-1280x780-25.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-26.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-27.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-28.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-29.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-1.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-2.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-3.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-4.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-5.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-6.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-7.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-8.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-9.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-10.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-11.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-12.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-13.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-14.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-15.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-16.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-17.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-18.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-19.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-20.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-21.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-22.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-23.jpg").d-block.w-100
                        .carousel-item 
                            img(src="/images/Servicios/servicios-1280x780-24.jpg").d-block.w-100
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev").carousel-control-prev
                        span(aria-hidden="true").carousel-control-prev-icon
                        span.visually-hidden Previous
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next").carousel-control-next
                        span(aria-hidden="true").carousel-control-next-icon
                        span.visually-hidden Next
            .maquinaria__content-stuberia
                picture 
                    source(media="(min-width:768px)" srcset="images/tmaquinaria2.jpg")
                    img(src="images/mmaquinaria3.jpg" alt="").img-fluid
                .maquinaria__content-stuberia-box
                    p#stuberia-servicios SERVICIOS 
                    .listServicios 
                        ul
                            li
                                p INSTALACIÓN
                            li
                                p REMOCIÓN
                            li
                                p MODIFICACIÓN 
                    p#stuberia-tuberia TUBERÍA
                    .listTuberia 
                        ul
                            li
                                p ELÉCTRICA
                            li
                                p HIDRÁULICA
                            li
                                p NEUMÁTICA 
            .maquinaria__content-parrafo
                //- p Instalación, remoción y modificación de tubería eléctrica, hidráulica y neumática, de diferentes materiales, calibres y diámetros.
            .maquinaria__content-maniobra
                .maquinaria__content-maniobra-precision
                    p Servicio de Movimiento interno y capacidad de #[strong maniobra de precisión] para puesta en punto de maquinaria y equipo.
                    ul 
                        li 
                            img(src="images/Iconos/arrow__right-white.svg", alt="")
                            p AIR PALETS
                        li 
                            img(src="images/Iconos/arrow__right-white.svg", alt="")
                            p MONTACARGAS
                        li 
                            img(src="images/Iconos/arrow__right-white.svg", alt="")
                            p GRUAS HIABB
                        li 
                            img(src="images/Iconos/arrow__right-white.svg", alt="")
                            p TORTUGAS DE NYLAMIND
                .maquinaria__content-maniobra-personal 
                    p Contamos con personal #[strong altamente capacitado] para su operación.
            //- .maquinaria__content-cimentacion 
            //-     h2 Servicio de Cimentación 
            //-     p #[strong Contamos con Servicio de cimentación] en caso de que alguna máquina lo requiera en la nueva ubicación que se coloque.
            
    .btn-contactenos
            a(href="contacto.html") Contáctenos   
            


